
#planets {
    color: hsl(60, 1%, 21%);
}

#starships {
    color: hsl(60, 1%, 21%);
}


.favorites .fa-heart-circle-minus{
    visibility: hidden;
}

.favorites:hover .fa-heart-circle-minus{
    visibility: visible;
}

.addFavorite {
    color: grey;
}.addFavorite:hover {
    transform: scale(1.2);
}

.logo:hover {
    transform: scale(1.2);
}